.about {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_header {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;

  & h1 {
    font-family: var(--poppins);
    color: var(--text-color);
    font-size: 3rem;

    & span {
      background: var(--gradienttop-color);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  & div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & div {
      height: 10rem;
      width: 10rem;
      background: var(--gradientleft-color);
      padding: 4px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        height: 100%;
        object-fit: contain;
      }
    }
    & p {
      width: 82%;
      color: var(--text-color);
      font-family: var(--open-regular);
      line-height: 1.7rem;
      text-wrap: nowrap;
      & p {
        width: 100%;
      }

      &:nth-child(1) {
        margin-left: -0.8rem;
      }
      &:nth-child(2) {
        margin-left: -0.2rem;
      }
      &:nth-child(3) {
        margin-left: -0.2rem;
      }
      &:nth-child(4) {
        margin-left: -0.8rem;
      }
    }
  }
}

.body_skill {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-around;

  & .skill_container {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    & h3 {
      color: var(--text-color);
      font-family: var(--poppins);
      font-size: 22px;
      margin-block: 1.5rem;
    }

    & .icon_container {
      height: 48px;
      width: 45%;
      display: flex;
      position: relative;

      &:nth-child(2n) {
        justify-content: flex-end;
      }
    }
  }
}

.skill_icon {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: rotate(-10deg) skew(5deg);

  & span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s, opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &:hover span:nth-child(5) {
    transform: translate(20px, -20px);
    opacity: 1;
  }
  &:hover span:nth-child(4) {
    transform: translate(15px, -15px);
    opacity: 0.8;
  }
  &:hover span:nth-child(3) {
    transform: translate(10px, -10px);
    opacity: 0.6;
  }
  &:hover span:nth-child(2) {
    transform: translate(5px, -5px);
    opacity: 0.4;
  }
  &:hover span:nth-child(1) {
    transform: translate(0);
    opacity: 0.2;
  }

  & img {
    width: 40px;
  }
}

/* js */
.javascript {
  background: #f5de19;
  box-shadow: 0 0 5px #b9a810, 0 0 10px #b9a810a1, 0 0 25px #b9a81058;
}

.typescript {
  background: #007acc;
  box-shadow: 0 0 5px #a2c2d8, 0 0 10px #a2c2d8a1, 0 0 25px #a2c2d858;
}

/* react */
.react {
  background: #d5ecfb;
  box-shadow: 0 0 5px #61dafb, 0 0 10px #61dafba1, 0 0 25px #61dafb58;
}

/* reactnative */
.reactnative {
  background: #212121;
  box-shadow: 0 0 5px #61dafb, 0 0 10px #61dafba1, 0 0 25px #61dafb58;
}

/* node */
.node {
  background: #212121;
  box-shadow: 0 0 5px #83cd29, 0 0 10px #83cd29a1, 0 0 25px #83cd2958;
}
.mysql {
  background: #212121;
  box-shadow: 0 0 5px #e48e00, 0 0 10px #e48e00a1, 0 0 25px #e48e0058;
}
.mongo {
  background: #212121;
  box-shadow: 0 0 5px #439934, 0 0 10px #439934a1, 0 0 25px #43993458;
}
.figma {
  background: #212121;
  box-shadow: 0 0 5px #1abcfe, 0 0 10px #0acf83a1, 0 0 25px #a259ff58;
}
.git {
  background: #dd4c35;
  box-shadow: 0 0 5px #dc7c6b, 0 0 10px #dc7c6ba1, 0 0 25px #dc7c6b58;
}
.expo {
  background: #ffffff;
  box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffffa1, 0 0 25px #ffffff58;
}
.jest {
  background: #c63d14;
  box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffffa1, 0 0 25px #ffffff58;
}

/* TABLET */

@media (900px > width > 720px) {
  .about_header {
    height: 40%;

    & div {
      flex-direction: column;

      & p {
        text-wrap: wrap;
        text-align: center;

        &:nth-child(1) {
          margin-left: 0;
        }
        &:nth-child(2) {
          margin-left: 0;
        }
        &:nth-child(3) {
          margin-left: 0;
        }
        &:nth-child(4) {
          margin-left: 0;
        }
      }
    }
  }

  .body_skill {
    height: 50%;
    padding-top: 4rem;

    & .skill_container {
      justify-content: flex-start;
      gap: 3rem;

      & h3 {
        margin-bottom: -1rem;
      }

      & .icon_container {
        width: 60%;

        &:active span:nth-child(5) {
          transform: translate(20px, -20px);
          opacity: 1;
        }
        &:active span:nth-child(4) {
          transform: translate(15px, -15px);
          opacity: 0.8;
        }
        &:active span:nth-child(3) {
          transform: translate(10px, -10px);
          opacity: 0.6;
        }
        &:active span:nth-child(2) {
          transform: translate(5px, -5px);
          opacity: 0.4;
        }
        &:active span:nth-child(1) {
          transform: translate(0);
          opacity: 0.2;
        }
      }
    }
  }
}
