.body_contact {
  height: 50%;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  & form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;

    & .block_inputs {
      height: 70%;
      min-height: 15rem;
      width: 38%;
      padding: 1.5rem;
      border-radius: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #21212193;
      gap: 2rem;
      position: relative;
      box-sizing: border-box;

      & .area {
        height: 65%;
      }
      & .text {
        height: 25%;
      }
      & .input_container {
        width: 100%;
        position: relative;

        &:hover label {
          opacity: 1;
          color: rgb(190, 190, 190);
          top: -0.15rem;
        }

        &:focus-within label {
          opacity: 1;
          color: rgb(190, 190, 190);
          top: -0.15rem;
        }

        & label {
          height: 6px;
          color: var(--text-color);
          font-family: var(--open-regular);
          background-color: #212121;
          position: absolute;
          padding-bottom: 0.2rem;
          top: 1.2rem;
          padding-inline: 0.3px;
          opacity: 0.4;
          left: 1rem;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: top 0.5s linear;
        }

        & .input_border {
          height: 100%;
          min-height: 40px;
          width: 100%;
          background-color: var(--text-color);
          padding: 1px;
          border-radius: 16px;
          position: relative;

          &:focus-within {
            background: var(--gradientleft-color);
          }

          & input {
            height: 100%;
            min-height: 40px;
            width: 100%;
            font-family: var(--poppins);
            border: none;
            outline: none;
            font-size: 16px;
            padding-left: 1rem;
            color: var(--text-color);
            border-radius: 16px;
            background-color: #212121;

            &:focus {
              background-color: #212121;
              color: var(--text-color);
            }
          }
        }

        & .input_border_area {
          height: fit-content;
          width: 100%;
          background: var(--text-color);
          padding: 1px 1px 1px 1px;
          border-radius: 16px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:focus-within {
            background: var(--gradientleft-color);
          }

          & .textarea {
            height: 100%;
            min-height: 108px;
            width: 100%;
            border: none;
            outline: none;
            font-size: 16px;
            font-family: var(--poppins);
            border-radius: 16px;
            color: var(--text-color);
            padding: 0.5rem;
            background-color: #212121;
            resize: none;
          }
        }
      }
    }
  }
}
.button_border {
  height: 40px;
  width: 28%;
  margin-top: -4px;
  background: var(--gradientleft-color);
  padding: 1px;
  border-radius: 32px;
  cursor: pointer;
  overflow: hidden;

  & .button_form {
    height: 100%;
    width: 100%;
    background-color: #212121;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    transition: box-shadow 0.1s ease;

    &:active {
      box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
    }

    & p {
      -webkit-text-fill-color: transparent;
      background: var(--gradienttop-color);
      background-clip: text;
      font-family: var(--open-semibold);
      font-size: 16px;
    }
  }
}

.valide {
  border-left: 1px solid #8afa8eb5;
}
.refuse {
  border-left: 1px solid #151515fe;
}

.opacity {
  opacity: 0.5;
}
#labelTop {
  opacity: 1;
  color: rgb(190, 190, 190);
  top: -0.15rem;
}

@media (900px > width > 720px) {
  .body_contact {
    & form {
      & .block_inputs {
        width: 60%;
      }
    }
  }

  .text {
    min-height: 48px;
    max-height: 56px;
  }

  .button_border {
    width: 60%;
    min-height: 52px;
    max-height: 56px;
  }
}

/* MOBILE */

.body_contact_mobile {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-block: 2rem;

  & .block_inputs_mobile {
    height: auto;
    width: 100%;
    padding: 1rem;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #21212193;
    gap: 1.5rem;
    position: relative;
    box-sizing: border-box;

    & .area {
      height: 65%;
    }
    & .text {
      height: 25%;
    }
    & .input_container {
      width: 100%;
      position: relative;

      &:hover label {
        opacity: 1;
        color: rgb(190, 190, 190);
        top: -0.15rem;
      }

      &:focus-within label {
        opacity: 1;
        color: rgb(190, 190, 190);
        top: -0.15rem;
      }

      & label {
        height: 6px;
        color: var(--text-color);
        font-family: var(--open-regular);
        background-color: #212121;
        position: absolute;
        padding-bottom: 0.2rem;
        top: 1.2rem;
        padding-inline: 0.3px;
        opacity: 0.4;
        left: 1rem;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: top 0.5s linear;
      }

      & .input_border {
        height: 40px;
        width: 100%;
        background-color: var(--text-color);
        padding: 1px;
        border-radius: 16px;

        &:focus-within {
          background: var(--gradientleft-color);
        }

        & input {
          height: 100%;
          width: 100%;
          font-family: var(--poppins);
          border: none;
          outline: none;
          font-size: 16px;
          padding-left: 1rem;
          color: var(--text-color);
          border-radius: 16px;
          background-color: #212121;

          &:focus {
            background-color: #212121;
            color: var(--text-color);
          }
        }
      }
      & .input_border_area {
        height: 102px;
        width: 100%;
        background: var(--text-color);
        padding: 1px;
        border-radius: 16px;

        &:focus-within {
          background: var(--gradientleft-color);
        }

        & .textarea {
          height: 100%;
          width: 100%;
          border: none;
          outline: none;
          font-size: 16px;
          font-family: var(--poppins);
          border-radius: 16px;
          color: var(--text-color);
          padding: 0.5rem;
          background-color: #212121;
          resize: none;
        }
      }
    }
  }
}
