.home {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_name {
  display: flex;
  width: 47%;
  height: 11.5vh;
  text-wrap: nowrap;

  & p:first-child {
    color: var(--text-color);
    font-family: var(--open-semibold);
    font-size: 4rem;
    transition: transform 1.5s ease-in-out;
  }

  & p:last-child {
    color: var(--text-color);
    font-family: var(--open-semibold);
    font-size: 4rem;
    transition: transform 1.5s ease-in;
  }
}

.home_creative {
  display: flex;
  height: 11.5vh;
  width: 47%;
  text-wrap: nowrap;

  & p:not(:nth-child(2)) {
    color: var(--text-color);
    font-family: var(--poppins);
    font-size: 4rem;
  }

  & p:nth-child(2) {
    font-family: var(--poppins);
    font-size: 4rem;
    background-image: linear-gradient(
      125deg,
      #fff45a,
      #72ff76,
      #72b4ff,
      #fff45a,
      #72ff76,
      #72b4ff
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    transition: transform 2s ease;
    animation: stepColor 9s ease-in-out infinite, opacityText3 4s ease;
  }

  & p {
    transition: transform 2s ease-in-out;
  }
}

.animationContainer_name {
  display: flex;
  width: fit-content;
  position: relative;
  & p {
    z-index: 0;
    animation: opacityText1 7s;
  }
}
.animationContainer_creative {
  display: flex;
  width: fit-content;
  position: relative;
  & p {
    z-index: 0;
    animation: opacityText2 6s;
  }
}

.animationContainer_name::before {
  content: " ";
  border-radius: 8px;
  background: rgb(26, 26, 26);

  height: 11.5vh;
  width: 0;
  z-index: 2;
  position: absolute;
  animation: slideContainer1 ease-in-out 4s;
}
.animationContainer_creative {
  gap: 1rem;
  margin-top: 1px;
  &::before {
    content: " ";
    border-radius: 8px;
    background: rgb(26, 26, 26);

    height: 11.5vh;
    width: 0;
    z-index: 2;
    position: absolute;
    animation: slideContainer2 ease-in-out 3s;
  }
}

@keyframes opacityText1 {
  0% {
    color: transparent;
  }
  25% {
    color: transparent;
  }
  70% {
    color: var(--text-color);
  }
  100% {
    color: var(--text-color);
  }
}
@keyframes opacityText2 {
  0% {
    color: transparent;
  }
  25% {
    color: transparent;
  }
  70% {
    color: var(--text-color);
  }
  100% {
    color: var(--text-color);
  }
}
@keyframes opacityText3 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideContainer1 {
  0% {
    width: 0;
  }
  10% {
    width: 0;
  }
  45% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes slideContainer2 {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes stepColor {
  0% {
    background-position: 100% 100%;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* .home {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_name {
  display: flex;
  width: 47%;
  text-wrap: nowrap;

  & p:first-child {
    color: var(--text-color);
    font-family: var(--open-semibold);
    font-size: 4rem;
    letter-spacing: 8rem;
    transform: translateX(-200rem);
    transition: transform 1.5s ease-in-out letter-spacing 1.5s ease-in-out;
  }

  & p:last-child {
    color: var(--text-color);
    font-family: var(--open-semibold);
    font-size: 4rem;
    transform: translateX(200rem);
    transition: transform 1.5s ease-in;
  }
}

.home_creative {
  display: flex;
  gap: 1rem;
  width: 47%;
  text-wrap: nowrap;

  & p:not(:nth-child(2)) {
    color: var(--text-color);
    font-family: var(--poppins);
    font-size: 4rem;
    letter-spacing: 8rem;
  }

  & p:nth-child(2) {
    font-family: var(--poppins);
    font-size: 4rem;
    background-image: linear-gradient(
      90deg,
      #fff45a 0%,
      #72ff76 50%,
      #72b4ff 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    letter-spacing: 1px;
    opacity: 0;
    scale: 0;
    transition: transform 2s ease;
  }

  & p:first-child {
    letter-spacing: 12rem;
    transform: translateX(-300rem);
    transition: transform 2s ease-in-out letter-spacing 2s ease-in-out;
  }

  & p:last-child {
    letter-spacing: 12rem;
    transform: translateX(200rem);
    transition: transform 2s ease-in-out letter-spacing 2s ease-in-out;
  }
}

.animationLetter {
  animation: slideLetter 4s forwards;
}
.animationCreative {
  animation: stepColor 4s ease infinite, stepOpacity 4s ease forwards;
}

@keyframes slideLetter {
  to {
    letter-spacing: 1px;
    transform: translateX(0);
  }
}
@keyframes stepOpacity {
  0% {
    opacity: 0;
    scale: 0;
  }
  30% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes stepColor {
  0% {
    background-position: 100% 100%;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}
 */
