.project {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & .project_back {
    position: absolute;
    margin-top: 1rem;
    left: 4rem;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-family: var(--poppins);
    font-size: 15px;
    cursor: pointer;

    & img {
      transform: rotate(180deg);
      margin-right: 1rem;
    }
  }

  & h2 {
    font-family: var(--poppins);
    color: var(--text-color);
    font-size: 3rem;
  }

  & p {
    height: 10%;
    font-family: var(--open-regular);
    color: var(--text-color);
    width: 60%;
    text-align: center;
  }
}

/* WEB */
.project_web {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  & .project_movie {
    height: 70%;
    min-width: 595px;
    width: 35%;
    border: 1px solid rgba(255, 255, 255, 0.79);
    background: var(--gradientleft-color);
    padding: 1px;
    border-radius: 26px;

    & video {
      border-radius: 26px;
      background-color: #212121;
    }
  }
}

.project_techno {
  height: 29%;
  min-width: 595px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.79);
  padding: 0.5rem;
  padding: 1px;
  border-radius: 2rem;
  background: var(--gradientleft-color);

  & .techno_border {
    height: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: #212121;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & div {
      height: 70px;
      width: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & img {
        width: 40px;
      }

      & p {
        width: 100%;
        text-align: center;
        font-family: var(--poppins);
        font-size: 12px;
      }
    }
  }
}

/*  MOBILE  */
.project_mobile {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  & .project_movie_mobile {
    height: 100%;
    background: var(--gradientleft-color);
    padding: 2.5px;
    border-radius: 26px;

    & video {
      border-radius: 26px;
      background-color: #212121;
    }
  }
}

.project_techno_mobile {
  height: 100%;
  width: 14%;
  min-width: 11.5rem;
  background: transparent;
  border: 1px solid white;
  padding: 0.5rem;
  padding: 1px;
  border-radius: 2rem;
  background: var(--gradientleft-color);

  & .techno_border_mobile {
    height: 100%;
    width: 100%;
    min-width: 10rem;
    padding: 1rem 0.5rem;
    border-radius: 2rem;
    background-color: #212121;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    & div {
      height: 70px;
      width: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;

      & img {
        height: 40px;
        width: 40px;
      }

      & p {
        width: 100%;
        text-align: center;
        font-family: var(--poppins);
        font-size: 12px;
      }
    }
  }
}

.project_button {
  width: 30%;
  display: flex;
  justify-content: center;
  gap: 2rem;

  & button:first-child {
    position: absolute;
    left: 3%;
    top: 62%;

    & img {
      transform: rotate(180deg);
    }
  }

  & button:last-child {
    position: absolute;
    right: 3%;
    top: 62%;
  }

  & button {
    padding: 0.5rem 0.7rem;
    width: 9.5rem;
    border: 1px solid #fff;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    border-radius: 32px;
    color: var(--text-color);
    cursor: pointer;
    font-family: var(--open-regular);
    font-size: 14px;

    & p {
      font-family: var(--open-regular);
      font-size: 12px;
    }
  }
}

.project_button_web {
  width: 30%;
  display: flex;
  justify-content: center;
  gap: 2rem;

  & button:first-child {
    position: absolute;
    left: 3%;
    bottom: 4%;

    & img {
      transform: rotate(180deg);
    }
  }

  & button:last-child {
    position: absolute;
    right: 3%;
    bottom: 4%;
  }

  & button {
    padding: 0.5rem 0.7rem;
    width: 9.5rem;
    border: 1px solid #fff;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    border-radius: 32px;
    color: var(--text-color);
    cursor: pointer;
    font-family: var(--open-regular);
    font-size: 14px;

    & p {
      font-family: var(--open-regular);
      font-size: 12px;
    }
  }
}

/* TABLET */

@media (900px > width > 720px) {
  /* WEB */
  .project_web {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    & .project_movie {
      height: 60%;
      min-width: 595px;
      width: 35%;
      border: 1px solid rgba(255, 255, 255, 0.79);
      background: var(--gradientleft-color);
      padding: 1px;
      border-radius: 26px;

      & video {
        border-radius: 26px;
        background-color: #212121;
      }
    }
  }

  .project_techno {
    height: fit-content;

    & .techno_border {
      height: fit-content;

      & div {
        padding: 0.5rem;
      }
    }
  }

  .project_button_web {
    & button:first-child {
      position: absolute;
      left: 28%;
      bottom: 15%;
    }

    & button:last-child {
      right: 28%;
      bottom: 15%;
    }
  }

  /* MOBILE */

  .project_mobile {
    height: 60%;

    & .project_movie_mobile {
      width: 70%;
    }
  }

  .project_techno_mobile {
    width: 20%;

    & .techno_border_mobile {
      justify-content: center;
    }
  }

  .project_button {
    & button {
      font-size: 16px;
      width: 11rem;
    }
    & button:first-child {
      position: absolute;
      left: 25%;
      top: 87%;
    }

    & button:last-child {
      position: absolute;
      right: 25%;
      top: 87%;
    }
  }
}

@media (width < 720px) {
  .project {
    & h2 {
      font-size: 2rem;
      margin-top: 0.2rem;
    }

    & .project_back {
      left: 1rem;
      & img {
        width: 1rem;
      }
    }

    & p {
      width: 100%;
    }
  }

  .project_mobile {
    flex-direction: column;
    height: auto;
    margin-top: 2rem;

    & .project_movie_mobile,
    .project_movie {
      height: auto;
      min-height: 60vh;
    }
  }

  .project_techno_mobile {
    width: 80%;

    & .techno_border_mobile {
      gap: 0.5rem;
    }
  }

  .project_web {
    height: auto;
  }
  .project_techno {
    width: 100%;
    min-width: 100%;

    & .techno_border {
      height: auto;
      flex-wrap: wrap;
    }
  }

  .project_button,
  .project_button_web {
    width: 100%;
    padding-bottom: 4rem;
    & button {
      position: relative !important;
    }
  }

  .project_web {
    & .project_movie {
      min-width: 100%;
      height: auto;
      min-height: 50vh;
    }
  }
}
