.contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  height: 30%;

  & h1 {
    font-family: var(--poppins);
    color: var(--text-color);
    font-size: 3rem;
  }
}

.contact_header_link {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8rem;

  & .link_container {
    height: 64px;
    width: 64px;
    display: flex;
    opacity: 0.8;
    transition: transform 1s linear, opacity 1s linear;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }

    &:active {
      opacity: 0.5;
    }
  }
  & .link_down {
    position: absolute;
    margin-top: 2rem;
  }
  & a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background: var(--gradienttop-color);
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(114, 180, 255, 0.3),
      0px 0px 9px rgba(114, 255, 118, 0.2), 0px 0px 8px rgba(255, 244, 90, 0.25);

    & img {
      height: 100%;
      width: 100%;
    }
  }
}

.body_contact {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  & h2 {
    margin-block: 2rem;
    color: var(--text-color);
    font-family: var(--poppins);
    font-size: 36px;
  }

  & form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;

    & .block_inputs {
      height: 70%;
      width: 38%;
      padding: 1.5rem;
      border-radius: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #212121;
      gap: 2rem;
      position: relative;

      & .input_container {
        width: 100%;
        position: relative;

        &:hover label {
          opacity: 1;
          color: rgb(190, 190, 190);
          top: -0.15rem;
        }

        &:focus-within label {
          opacity: 1;
          color: rgb(190, 190, 190);
          top: -0.15rem;
        }

        & label {
          height: 6px;
          color: var(--text-color);
          font-family: var(--open-regular);
          background-color: #212121;
          position: absolute;
          padding-bottom: 0.2rem;
          top: 1.2rem;
          padding-inline: 0.3px;
          opacity: 0.4;
          left: 1rem;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: top 0.5s linear;
        }

        & .input_border {
          height: 44px;
          width: 100%;
          background-color: var(--text-color);
          padding: 1px;
          border-radius: 16px;

          &:focus-within {
            background: var(--gradientleft-color);
          }

          & input {
            height: 100%;
            width: 100%;
            font-family: var(--poppins);
            border: none;
            outline: none;
            font-size: 16px;
            padding-left: 1rem;
            color: var(--text-color);
            border-radius: 16px;
            background-color: #212121;

            &:focus {
              background-color: #212121;
              color: var(--text-color);
            }
          }
        }

        & .input_border_area {
          height: 120px;
          width: 100%;
          background: var(--text-color);
          padding: 1px;
          border-radius: 16px;

          &:focus-within {
            background: var(--gradientleft-color);
          }

          & .textarea {
            height: 100%;
            width: 100%;
            border: none;
            outline: none;
            font-size: 16px;
            font-family: var(--poppins);
            border-radius: 16px;
            color: var(--text-color);
            padding: 0.5rem;
            background-color: #212121;
            resize: none;
          }
        }
      }
    }
  }
}
.button_border {
  height: 40px;
  width: 32%;
  background: var(--text-color);
  padding: 1px;
  border-radius: 32px;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background: var(--gradientleft-color);
  }

  & .button_form {
    height: 100%;
    width: 100%;
    background-color: #212121;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    transition: box-shadow 0.1s ease;

    &:active {
      box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
    }

    & p {
      -webkit-text-fill-color: transparent;
      background: var(--gradienttop-color);
      background-clip: text;
      font-family: var(--open-semibold);
      font-size: 16px;
    }
  }
}

.valide {
  border: 1px solid #8afa8eb5;
}

#labelTop {
  opacity: 1;
  color: rgb(190, 190, 190);
  top: -0.15rem;
}

.messageApi {
  color: #ffffffde;
  font-family: var(--poppins);
  z-index: 2;
  width: 21%;
  position: absolute;
  border-radius: 32px;
  top: 30%;
  left: 7%;
  padding: 1rem;
  border: 1px solid rgb(255, 181, 45);
  box-shadow: 0px 0px 10px rgba(114, 180, 255, 0.3),
    0px 0px 9px rgba(114, 255, 118, 0.2), 0px 0px 8px rgba(255, 244, 90, 0.25);
}

.span_error {
  color: rgb(255, 181, 45);
  font-family: var(--open-semibold);
  font-size: 48px;
  position: absolute;
  top: -4rem;
  left: 47%;
  animation: errorMove 1s linear infinite;
}

@keyframes errorMove {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
