.navbar {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_navigation {
  display: flex;
  gap: var(--gap);
  font-family: var(--open-semibold);

  & a:not(:last-child) {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--text-color);

    &:hover {
      -webkit-text-fill-color: transparent;
      background: var(--gradienttop-color);
      background-clip: text;
    }
  }

  & a:last-child {
    padding: 1px;
    text-decoration: none;
    border-radius: 2rem;
    background: var(--gradientleft-color);

    & div {
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      background: #000;
      transition: box-shadow 0.1s ease;

      &:active {
        box-shadow: inset 0px 7px 10px rgba(255, 255, 255, 0.3);
      }

      & p {
        background: var(--gradienttop-color);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.selected {
  -webkit-text-fill-color: transparent;
  background: var(--gradienttop-color);
  background-clip: text;
}
